/*Header*/
#navbarButtonsExample a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
#navbarButtonsExample a:hover{
    font-weight: 990;
}
#header_lista:hover{
    font-weight: bolder;
}
#lista_header{
    font-family: 'Poppins', sans-serif;
}


.botonVerde {
    background-color: #A3DA9B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 10px;
    font-family: Poppins;
}

.botonVerde p {
    margin: 0;
}
.botonVerde:hover{
    font-weight: 990;
}

/*Main*/
main{
    font-family: Poppins;
}

div.tarjetas{
    border-radius: 25px !important;
}
div.tarjetas#verde {
    background-color: #9DCC97;
}
div.tarjetas h3{
    font-weight: 800;
    padding: 10px 0 10px 0;
    font-size: 24px;
}
div.tarjetas h2{
    font-weight: 800;
    font-size: 24px;
}
div.tarjetas p{
    font-weight: 590;
    padding: 0 0 2px 0;
    font-size: 18px;
}
.consumo{
    color: #387a2e;
}
.text-red {
      color: red;
    }
.tarjetas.text-red {
    background-color: rgb(226, 55, 55) !important;
    color: black;
}
.progress-bar-animated {
    background-color: #488840 !important;
}

#lineChart {
    height: 350px;
    margin-bottom: 30px;
    
}

#kWh{
    font-size: 38px;
    font-weight: 300;
    color: #387a2e ;
}
#estadoPago{
    font-weight: 900;
}
.estadoDePago{
    font-weight: 600;
}
/*Footer*/

footer {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #3C8732;
}

footer a:hover {
    color: #2b5526;
    font-weight: bolder;
}

footer a:visited {
    color: #1d3a1a;
}

footer p {
    color: #3C8732;
}

footer p:hover {
    color: #2b5526;
    font-weight: bolder;
}


