/*Header*/

#navbarButtonsExample a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
#navbarButtonsExample a:hover{
    font-weight: 990;
}
#header_lista:hover{
    font-weight: bolder;
}
#lista_header{
    font-family: 'Poppins', sans-serif;
}

#area_cliente {
    background-color: #A3DA9B;
    transition: background 1s;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}



/*Footer*/

footer a{
    color: #3C8732;
}
footer a:hover{
    color: #2b5526;
    font-weight: bolder;
}
footer a:visited{
    color: #1d3a1a;
}

footer p{
    color: #3C8732;
}
footer p:hover{
    color: #2b5526;
    font-weight: bolder;
}

/*IMAGEN COMPROMISO*/
/*Carrusel*/
main{
    font-family: Poppins;
}
.carousel {
    margin-bottom: 1rem;
  }
.carousel-caption {
    top: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 25rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.compromiso_texto_inicio{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 90.909% */
    letter-spacing: 2px;
    margin-top: 15px;
}

/*Parte Central*/
.featurette-divider {
    margin: 5rem 0; 
  }
  
.featurette-heading {
    letter-spacing: -.05rem;
}
.textos{
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 125% */
    letter-spacing: 2px;
}
.bienvenida{
    margin-top: 50px;
    margin-bottom: 50px;
}
#bienvenida{
    background-image: url(../imagenes/bienvenida.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
}
.sobreNosotros{
    margin: 15%;
    margin-bottom: 0;
    text-align: justify;
    
}
.sobreNosotros h3{
    font-size: 25px;
    font-weight: 700;
}
.sobreNosotros p{
    font-size: 18px;
}

h2#sobreNova{
    font-weight: 700;
    font-size: 35px;
    margin-top: 75px;
}
.mariposa {
    background: linear-gradient(to bottom, rgba(163, 218, 155, 0.178), rgba(255, 255, 255, 0)); 
    background: linear-gradient(to top,  rgba(255, 255, 255, 0), rgba(163, 218, 155, 0.356),); 
}
