/*Header*/
#navbarButtonsExample a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
#header_lista:hover{
    font-weight: bolder;
}
#lista_header{
    font-family: 'Poppins', sans-serif;
}

#area_cliente {
    background-color: #A3DA9B;
    transition: background 1s; /* Cambié background-color a background */
    width: 165px; 
    height: 58px; 
    border-radius: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-decoration: none;
}

#area_cliente:hover {
    background: linear-gradient(180deg, rgba(67,138,57,1) 12%, rgba(90,184,76,1) 35%, rgba(90,191,77,1) 72%, rgba(115,192,104,1) 94%, rgba(163,218,155,1) 100%);
}


/*Footer*/

footer a{
    color: #3C8732;
}
footer a:hover{
    color: #2b5526;
    font-weight: bolder;
}
footer a:visited{
    color: #1d3a1a;
}

footer p{
    color: #3C8732;
}
footer p:hover{
    color: #2b5526;
    font-weight: bolder;
}


  
/*Carrusel*/
  .carousel {
    margin-bottom: 1rem;
  }
  .carousel-caption {
    top: 3rem;
    z-index: 10;
  }
  
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  .bolder{
    font-weight: bold;
    width: 640px;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 104.167% */
    letter-spacing: 4px;
    
}
.cont_especial{
    width: 600px;
    color: #FFF;
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 100% */
    letter-spacing: 2px;
}
.texto_verde{
    width: 777px;
    color: #34B22A;
    text-align: justify;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 18px; /* 100% */
    letter-spacing: 2px;
}
.verde{
  color: #30a527;
  width: 777px;
  text-shadow: 0px 0px 9px #000000;
  margin-bottom: 25px;
}

.logos{
  height: 59px;
  width: 59px;
  margin-left: 25px;
  margin-top: 5%;
}
.tarjetas{
  border-radius: 5px;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.tarjeta_grande{
  border-radius: 5px;
  background: #A3DA9B;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 30px;
  margin-bottom: 20px;
}
#planes{
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
}
.container a {
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
  color: #000 ;
}
/*Tarjetas --> 3*/
.fuenteNegrita{
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 78.125% */
  letter-spacing: 2px;
}
.texto-container{
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
  letter-spacing: 2px;
  margin-top: 5%;
}
#featured-3{
  background: rgba(246, 255, 247, 0.80);
  box-shadow: 4px 4px 4px 5px rgba(0, 0, 0, 0.25);
  margin-bottom:50px;
  padding: 55px;
}
/*RESPONSIVE*/
  @media (width <= 773px) {
    .bolder {
        font-size: 16px;
        width: 100%; 
        
    }
    
    .cont_especial {
      font-size: 14px;
      width: 100%;  
      line-height: 14px;
    }
    
    .texto_verde {
      font-size: 15px;
      width: 100%; 
    }
    .verde{
      font-size: 22px;
      width: 100%; 
    }
}


