#tarjeta_inicio{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.contenedores input{
    border: #234720 2px solid; 
    background-color: #E5F6E2; 
    font-weight: 600;
    font-size: 16px; 
}
.contenedores input:focus{
    border: #234720 2px solid;  
    background-color: #E5F6E2; 
}
.contenedores button{
    border: #234720 2px solid;
    border-left: 0; background-color: #E5F6E2; 
    font-weight: 600; 
    font-size: 16px;
}
.contenedores button:hover{
    border: 3px #234720 solid;
    border-left: 2px #234720 solid;
    border-radius : .25rem;
}


.texto_login{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

footer a{
    color: #3C8732;
}
footer a:hover{
    color: #2b5526;
    font-weight: bolder;
}
footer a:visited{
    color: #1d3a1a;
}

footer p{
    color: #3C8732;
}
footer p:hover{
    color: #2b5526;
    font-weight: bolder;
}
.custom-btn{
    color: #3C8732;
}
